[submodule "submodules/sampic"]
	path = submodules/sampic
	url = https://git.t2k.org/tof_utils/daq/sampic.git
	branch = MIDAS
[submodule "submodules/tof-data-format"]
	path = submodules/tof-data-format
	url = https://git.t2k.org/tof_utils/daq/tof-data-format.git
[submodule "submodules/sampic_256ch_linux"]
	path = submodules/sampic_256ch_linux
	url = https://git.t2k.org/tof_utils/daq/sampic_256ch_linux.git
